@model List<Car>
@{
    ViewData["Title"] = "Arabalar";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h3>Arabalar</h3>
@{
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Model Adı</th>
        <th>Model Yılı</th>
        <th>Kilometresi</th>
        <th>Markası</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Brand.BrandName</td>
            <td>@item.ModelName</td>
            <td>@item.Year</td>
            <td>@item.Kilometer</td>
            <td><a asp-action="DeleteCar" asp-route-id="@item.CarId" class="btn btn-danger">Sil</a> </td>
            <td><a asp-action="UpdateCar" asp-route-id="@item.CarId" class="btn btn-info">Güncelle</a> </td>
        </tr>
    }
</table>

<a asp-action="CreateCar" asp-controller="AdminCar" class="btn btn-primary">Yeni Araba Ekle</a>
