@* Manager Booking Index *@

@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Kiralama Talepleri";
    Layout = "~/Areas/Manager/Views/ManagerLayout/Index.cshtml";
}

@{
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Talep Sahibi</th>
        <th>Talep Edilen Araç</th>
        <th>Teslim Alma Lokasyonu</th>
        <th>Teslim Etme Lokasyonu</th>
        <th>Teslim Alma Tarihi</th>
        <th>Teslim Etme Tarihi</th>
        <th>Durumu</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.User.FirstName @item.User.LastName</td>
            <td>@item.Car.ModelName</td>
            <td>@item.PickupLocation</td>
            <td>@item.DropoffLocation</td>
            <td>@item.PickupDate.ToString("dd MMMM yyyy HH:00")</td>
            <td>@item.DropoffDate.ToString("dd MMMM yyyy HH:00")</td>
            <td>@item.Status</td>
            <td>
                @if (item.IsCancel == false && item.Status == "Onay Bekliyor")
                {
                    <button onclick="acceptBooking(@item.BookingId)" class="btn btn-success">Onayla</button>
                    <button onclick="cancelBooking(@item.BookingId)" class="btn btn-danger">Reddet</button>
                }
            </td>
        </tr>
    }
</table>


<script>
    function acceptBooking(id)
    {
        Swal.fire(
        {
            title: "Onaylamak istedğinize emin misiniz?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, onayla",
            cancelButtonText: "Hayır, onaylama"
        }).then((result) =>
        {
            if (result.isConfirmed)
            {
                window.location.href = "/Manager/Booking/AcceptBooking/" + id;
            };
        });
    }

        function cancelBooking(id)
    {
        Swal.fire(
        {
            title: "Reddetmek istedğinize emin misiniz?",
            text: "Kullanıcıya reddedilme nedenini iletin",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, reddet",
            cancelButtonText: "Hayır, reddetme"
        }).then((result) =>
        {
            if (result.isConfirmed)
            {
                window.location.href = "/Manager/Booking/DeclineBooking/" + id;
            };
        });
    }
</script>


